<h1><%= @album.title %></h1>

<% flash.each do |type, message| %>
    <div class="alert alert-<%= type %> alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<% if type == "danger" %>
			<% message.each do |msg| %>
				<p><%= msg %></p>
			<% end %>
		<% else %>		
   			<%= message %>
		<% end %>		
    </div>
<% end %>

<div class="container">
	<div class="row">
	    <div class="col-lg-4">
		<% @album.photos.each do |photo| %>
		
			<div class="img-thumbnail">		
				<%= link_to(photo.image.url) do %>
					<%= image_tag photo.image.url(:square) %>
				<% end %>
			</div>
		<% end %>
		</div>
	</div>
</div>

<h2>Add a new photo</h2>

<%= form_for(:photo, url: album_photos_path(@album), multipart: true) do |f| %>



  <div class="btn btn-default btn-file" >
    <%= file_field_tag 'images[]', type: :file, multiple: true %>
    <% f.file_field :image %>
  </div>

  <div class="btn">
    <%= f.submit 'Add Photo' %>
  </div>

<% end %>

<%= link_to 'Back to Albums', albums_path %>